<app-nav-menu></app-nav-menu>

<div class="container">
  <h1 id="tableLabel">Companies</h1>

  <p *ngIf="!companies"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="companies">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.id }}</td>
        <td>{{ company.title }}</td>
        <td>{{ company.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
